<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Class {{name}}</title>
    <link rel="stylesheet" href="../index.css">
</head>

<body>

<!-------------- BEGIN HERE ---------------->
<div id="doc-container">

    <h1 class="class-name">{{name}}</h1>
    <div class="class-section">


        <div class="class-descriptions">
            <h4 class="class-subtitle">Brief Description</h4>
            <div class="class-brief-description">
                {{description.brief}}
            </div>
            <h4 class="class-subtitle">Full Description</h4>
            <div class="class-description">
                {{description.full}}
            </div>
        </div> <!-- end div.class-descriptions -->

        {{#if methods.length}}
        <div class="class-methods">
            <h2 class="class-title">Methods</h2>

            {{#each methods}}
            <div class="class-method">
                <h3><a name="//apple_ref/cpp/Method/{{this.name}}" href="#" class="class-method-name dashAnchor">{{this.name}}</a></h3>
                <span class="class-method-declaration">
                    <a href="{{this.returnType.type}}.html" class="class-specified-type">{{this.returnType.type}}</a>
                    <span class="class-specified-name">{{this.name}}</span>
                    (
                        <span class="class-specified-arguments">
                            {{#each this.args}}
                            <span class="class-specified-argument">
                                <a href="{{this.type}}.html" class="class-specified-type">{{this.type}}</a>
                                <span class="class-specified-name">{{this.name}}</span>
                            </span>
                            {{#if @last}}
                            {{else}}
                            ,
                            {{/if}}
                            {{/each}}
                        </span> <!-- end span.class-specified-arguments -->
                    )
                </span> <!-- end span.class-method-declaration -->


                {{#if this.methods.doAnyArgsHaveDescrips}}
                <div class="class-arguments">
                    <h4 class="class-subtitle">Arguments</h4>
                    <div class="class-argument-table">
                        {{#each this.args}}
                            {{#if this.description.hasDescription}}
                            <ul class="class-argument-row">
                                <li class="class-specified-name class-argument-name-col">
                                    {{this.name}}
                                </li>
                                <li class="class-description class-argument-descrip-col">
                                    {{this.description.full}}
                                </li>
                            </ul>
                            {{/if}}
                        {{/each}}
                    </div>
                </div> <!-- end div.class-arguments -->
                {{/if}}

                <div class="class-description">
                    {{this.description.full}}
                </div>


                {{#if @last}}
                {{else}}
                    <hr>
                {{/if}}
            </div> <!-- end div.class-method -->
            {{/each}}
        </div> <!-- end div.class-methods -->
        {{/if}}

        {{#if this.constants.length}}
        <div class="class-constants">
            <h2 class="class-title">Constants</h2>

            {{#each this.constants}}
            <div class="class-constant">
                <span class="class-specified-name"><a name="//apple_ref/cpp/Constant/{{this.name}}" class="dashAnchor">{{this.name}}</a></span>
                =
                <span class="class-specified-value">{{this.value}}</span>
                <div class="class-description">
                    {{this.description.full}}
                </div>
            </div>
            {{/each}}
        </div> <!-- End div.class-constants -->
        {{/if}}


        {{#if this.members.length}}
        <div class="class-members">
            <h2 class="class-title">Members</h2>
            {{#each this.members}}
            <div class="class-member">
                <a href="{{this.type}}.html" class="class-specified-type">{{this.type}}</a>
                <span class="class-specified-name"><a name="//apple_ref/cpp/Variable/{{this.name}}" class="dashAnchor">{{this.name}}</a></span>
                <div class="class-description">
                    {{this.description.full}}
                </div>
            </div>
            {{/each}}
        </div> <!-- ned div.class-members -->
        {{/if}}


        {{#if this.signals}}
        <div class="class-signals">
            <h2 class="class-title">Signals</h2>
            {{#each this.signals}}
            <div class="class-signal">
                <div class="class-specified-name">
                    <a name="//apple_ref/cpp/Event/{{this.name}}" class="dashAnchor">{{this.name}}</a>
                </div>

                {{#if this.args.length}}
                <div class="class-arguments">
                    <div class="class-argument-table">
                        {{#each this.args}}
                            {{#if this.hasDescription}}
                            <div class="class-argument-row">
                                <div class="class-specified-name class-argument-col">
                                    {{this.name}}
                                </div>
                                <div class="class-specified-type class-argument-col">
                                    <a href="{{this.type}}.html" class="class-specified-type">{{this.type}}</a>
                                </div>
                                <div class="class-description class-argument-col">
                                    {{this.description.full}}
                                </div>
                            </div>
                            {{/if}}
                        {{/each}}
                    </div>
                </div>
                {{/if}}

            </div>
            {{/each}}

        </div> <!-- end div.class-signals -->
        {{/if}}


    </div> <!-- end div.class-section -->
</div>
<!-------------- END HERE ---------------->

</body>

</html>
